@import url('https://fonts.googleapis.com/css2?family=Chango&display=swap');

* {
    font-family: 'Chango';
    --size-portrait: 75vw;
    --size-landscape: 75vh;
}

body {
    background-color: red;
    color: whitesmoke;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#controls {
    padding-top: 32px;
}
button {
    padding: 5px 32px;
    border-radius: 5px;
}

/* Etch-a-Sketch */
#etchasketch {
    background-color: gray;
    padding: 20px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    width: auto;
}
.etch-row {
    display: flex;
    height: auto;
    flex: 1;
}
.etch-cell {
    background-color: aliceblue;
    width: 100%;
}
.marked {
    background-color: black;
}
@media (orientation: landscape) {
    #etchasketch {
        height: var(--size-landscape);
    }
    .etch-row {
        width: var(--size-landscape);
    }
}
@media (orientation: portrait) {
    #etchasketch {
        height: var(--size-portrait);
    }
    .etch-row {
        width: var(--size-portrait);
    }
}
